body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.homepage {
  background: linear-gradient(to right, #f0fdf4, #ffffff);
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  gap: 40px;
}

.text-section {
  flex: 1;
  min-width: 300px;
}

.text-section h1 {
  font-size: 42px;
  color: #5f7161;
}

.text-section h1 span {
  color: #8d8c6f;
  font-weight: bold;
}

.text-section p {
  margin-top: 20px;
  font-size: 16px;
  color: #444;
}

.button-group {
  margin-top: 30px;
  /* display: flex; */
  /* gap: 15px; */
  /* flex-wrap: wrap; */
}

.login-register {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

.book {
  background-color: #5f7161;
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.book:hover {
  background-color: #4a5a4c;
}
.login-register {
  background-color: white;
  color: #5f7161;
  border: 1px solid #5f7161;
  margin-left: 20px;
}

.image-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.image-section img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
