.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
}

.navbar .logo {
  font-size: 1.25rem;
  font-weight: 900;
  color: #5F7161;
  margin-bottom: 0.5rem;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 1.5625rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.navbar nav a {
  text-decoration: none;
  color: #5F7161;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar nav a:hover {
  color: #F0CEB6;
}

.login,
.register {
  font-size: 0.8rem;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  margin-left: 0.5rem;
}

.login {
  border: 0.0625rem solid #5F7161;
  color: #5F7161;
  background-color: #F3F9F4;
  font-weight: 300;
}

.login:hover {
  background-color: #e3efe5;
  border-color: #4e5f52;
  color: #4e5f52;
}

.register {
  background-color: #5F7161;
  color: #ffffff;
  font-weight: 200;
  border: none;
}

.register:hover {
  background-color: #4e5f52;
}

@media (max-width: 48rem) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.25rem;
  }

  .navbar .logo {
    margin-bottom: 0.75rem;
  }

  .navbar nav ul {
    flex-direction: column;
    width: 100%;
    gap: 0.9375rem;
    margin-top: 0.5rem;
  }

  .login,
  .register {
    margin-top: 0.75rem;
    margin-left: 0;
  }
}
