html,
body {
  overflow-x: hidden;
}

.register-login-container {
  background: linear-gradient(to right, #f0fdf4, #ffffff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  background: linear-gradient(to right, #f0fdf4, #ffffff);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 1000px;
}

.form-side {
  flex: 1;
  padding: 40px;
}

.form-side h2 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
  color: #5f7161;
  margin-left: 40px;
}

.form-side form {
  display: flex;
  flex-direction: column;
}

.form-side label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.form-side input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.form-side button {
  margin-top: 20px;
  padding: 12px;
  background-color: #5f7161;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.form-side button:hover {
  background-color: #14532d;
}

.image-side {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px white;
  background: none;
}

.image-overlay-text span {
  display: block;
  font-size: 30px;
  color: #98d4ad;
}

.back-button-wrappLogin {
  position: relative;
  margin-bottom: 20px;
}

.back-buttonn {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #5f7161;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.back-buttonn:hover {
  background-color: #5f7179;
}

.alt-text {
  font-size: 14px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .register-login-container {
    height: auto;
    padding: 20px 0;
  }

  .login-card {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }

  .form-side {
    padding: 30px 20px;
  }

  .form-side h2 {
    margin-left: 0;
    text-align: center;
  }

  .image-side {
    width: 100%;
    height: auto;
  }

  .image-side img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .back-button-wrappLogin {
    position: relative;
    margin-bottom: 10px;
  }
}
